@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background: linear-gradient(180deg, #F2EAD3 0%, #DFD7BF 100%);
    padding: 5px;
    position: sticky;
    top: 0;
    padding-inline: 10rem;
    z-index: 2;
}

.logo {
    width: 80px;
    height: 24px;
}

nav ul {
    display: flex;
    gap: 2.5rem;
}

nav li {
    display: inline;
    list-style-type: none;
}

nav a {
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    color: #3F230599;
}

nav a:hover {
    font-weight: bold;
}

main {
    overflow: auto;
    display: contents;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.prev-button,
.next-button {
    color: white;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide img {
    max-width: 100%;
    height: auto;
}

.p-slider {
    width: 510px;
    color: #F5F5F5;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 20px 0;
}

.card-slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 550px;
    height: 300px;
    background: rgba(0, 0, 0, 0.60);
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 166px;
    top: 140px;
}

h2 {
    width: 510px;
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    margin: 0 0 20px 0;
}

.btn-card {
    font-family: 'Poppins';
    width: fit-content;
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #FFFfff;
    color: #3F2305;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-card:hover {
    background-color: #3F2305;
    color: #FFFfff;
}

.container-1 {
    width: 100%;
    height: fit-content;
    padding: 80px 164px 100px 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-1 h2 {
    font-size: 36px;
    color: #3F2305;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.container-2 {
    width: 100%;
    height: fit-content;
    padding: 80px 164px 100px 164px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.container-2 h2 {
    font-size: 36px;
    color: #3F2305;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px 0;
}

.card-author {
    text-align: center;
    padding: 20px;
    width: 344px;
    height: 360px;
    padding: 0;
}

#author h3 {
    margin: 12px 0 0 0;
}

#author img {
    width: 344px;
    height: auto;
}

#author img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#author p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}

.medsos {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.medsos img {
    width: 20px !important;
    height: auto !important;
}

.slider-author {
    overflow: hidden;
    width: 100%;
    padding: 20px;
    transition: transform 0.3s ease;
}

.next-author, .prev-author {
    background-color: #3F2305;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.next-author:hover, .prev-author:hover {
    background-color: #5E3D27;
}

.nav-author {
    display: flex;
    gap: 20px;
}

.container-3 {
    width: 100%;
    height: fit-content;
    padding: 80px 164px 100px 164px;
    display: flex;
    justify-content: space-between;
}

.container-3 h2 {
    font-size: 36px;
    color: #3F2305;
    display: flex;
    margin: 0;
}

.container-3 p {
    display: flex;
    margin: 0 0 40px 0;
}

.container-3 .btn-card {
    background-color: #F2EAD3;
    padding: 12px 16px;
}

.container-3 .btn-card:hover {
    background-color: #3F2305;
    color: #FFFfff;
}

.card {
    text-align: center;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 20px;
    width: 344px;
    height: 360px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#content {
    display: flex;
    gap: 60px;
}

#content h3 {
    margin: 12px 0 12px 0;
}

#manfaat p {
    width: 304px;
    height: 126px;
}

#decision img {
    margin-top: 18px;
}

footer {
    height: 106px;
    padding: 20px;
    color: white;
    background: linear-gradient(180deg, #F2EAD3 0%, #DFD7BF 100%);
    text-align: center;
    font-weight: bold;
}

.p-footer {
    color: #3F2305;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin: 20px 0 0 0;
}


@media screen and (max-width: 1200px) {
    .card-slider {
        top: 80px;
    }
    .p-footer {
        font-size: 12px;
    }
    .content-manfaat {
        justify-content: center;
        flex-direction: column;
    } 
    
    .container-3 {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px 40px 20px;
    }
    .container-3 h2 {
        display: block;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 320px;
    }
    aside img {
        width: 320px;
        height: auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) { 
    .first-header {
        padding-inline: 2rem;
    }
    .card-slider {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        left: 0px;
        top: 0px;
        padding: 20px;
        text-align: center;
    }
    .slide img {
        max-width: 100%;
        height: 300px;
    }
    .container-1,
    .container-2 {
        padding: 40px 20px 40px 20px;
    }
    .container-3 {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px 40px 20px;
    }
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 320px;
    }
    aside img {
        width: 320px;
        height: auto;
        margin-top: 40px;
    }
    .card {
        width: fit-content;
        height: fit-content;
    }
    #author #content p {
        font-size: 10px;
    }
    #author p {
        font-size: 10px;
    }
    #kontak p {
        font-size: 10px;
    }
    #author img {
        width: 320px;
        height: auto;
    }
    .slider-author {
        height: 368px;
    }
    h2 {
        display: flex;
        justify-content: center;
        width: 80%;
        font-size: 20px;
        line-height: normal;
    }
    .p-slider {
        display: flex;
        justify-content: center;
        width: 80%;
        font-size: 14px;
    }
    footer {
        height: fit-content;
    }
    .p-footer {
        font-size: 10px;
    }
    .container-1 h2,
    .container-2 h2,
    .container-3 h2 {
        font-size: 20px;
    }
    #content h3 {
        font-size: 14px;
    }
    #content p {
        font-size: 10px;
        height: fit-content;
    }
}